# This is Git's per-user configuration file.
[user]
	name = rista404
	email = ristic@risticnikola.com
	signingkey = F03899491FD4BAC0
[core]
	# pager = diff-so-fancy | less --tabs=4 -RFX
	editor = subl -w
[pager]
    diff = delta
    log = delta
    reflog = delta
    show = delta
[color]
	ui = true
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "diff"]
	meta = yellow
	frag = magenta bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse
[alias]
	fixup = !sh -c 'git commit -m \"fixup! $(git log -1 --format='\\''%s'\\'' $@ | sed \"s/fixup\\! //\")\"' -
	ri = rebase --interactive --autosquash
	branches = for-each-ref --sort=-committerdate --format=\"%(color:blue)%(authordate:relative)\t%(color:red)%(authorname)\t%(color:white)%(color:bold)%(refname:short)\" refs/remotes
	mru = for-each-ref --sort=-committerdate --count=10 refs/heads/ --format='%(HEAD) %(color:yellow)%(refname:short)%(color:reset) - %(color:red)%(objectname:short)%(color:reset) - %(contents:subject) - %(authorname) (%(color:green)%(committerdate:relative)%(color:reset))'
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[commit]
	gpgsign = true
[delta]
	plus-style = "syntax #012800"
	minus-style = "syntax #340001"
	syntax-theme = 1337
	navigate = true
	# side-by-side = true
[interactive]
	diffFilter = delta --color-only